<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Film_BD_V4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Film_BD_V4.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Booster" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastSync" serializeAs="String">
                <value />
            </setting>
            <setting name="oneDrivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Loglevel" serializeAs="String">
                <value>Warn</value>
            </setting>
        </Film_BD_V4.Properties.Settings>
    </userSettings>
</configuration>